body {
  background: #f0f2f5;
}
.budgeterTextLoginScreen {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 4em;
  font-weight: bold;
  color: #3d5f82;
  text-align: center;
  margin-top: 1em;
}
.loginBox {
  width: 30em;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.submitLoginButton {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #fff;
  background: #3d5f82;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}
.line {
  width: 90%;
  height: 1.5px;
  background: #000;
  margin-top: 30px;
}
.loginBoxBottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.noAccountText {
  font-size: 1.2em;
  color: #000;
  margin-top: 1em;
}
.signUpLoginScreenButton {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #fff;
  background: #3d5f82;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}
.forgotPasswordLoginScreenContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.forgotPasswordLoginScreenText {
  font-size: 1em;
  color: #3d5f82;
  text-decoration: none;
}
.forgotPasswordLoginScreenText:hover {
  color: #2c3e50;
  text-decoration: underline;
}
