body {
  background: #f0f2f5;
}
.budgeter-text-log-in-page {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 4em;
  font-weight: bold;
  color: #3d5f82;
  text-align: center;
  margin-top: 1em;
}
.log-in-box {
  width: 30em;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.submit-log-in-button {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #fff;
  background: #3d5f82;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}
.line {
  width: 90%;
  height: 1.5px;
  background: #000;
  margin-top: 30px;
}
.log-in-box-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.no-account-text {
  font-size: 1.2em;
  color: #000;
  margin-top: 1em;
}
.sign-up-log-in-page-button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #fff;
  background: #3d5f82;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}
