body {
  background: #f0f2f5;
}
.SignupBox {
  width: 30em;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.SignupBox button {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #fff;
  background: #3d5f82;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}
.Line {
  width: 90%;
  height: 1.5px;
  background: #000;
  margin-top: 30px;
}
.SignupBox p {
  font-size: 1.2em;
  color: #2c3e50;
  margin-top: 1em;
}
.SignupBottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}